<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link rel="stylesheet" href="/dop.css">
</head>
<body>

<h1>Список заказов</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Дата заселения</th>
        <th>Дата выселения</th>
        <th>Итоговая цена</th>
        <th>Способ оплаты</th>
        <th>Логин</th>
        <th>Баня</th>
        <th>Действие</th>
    </tr>
    <tr th:each=" dota : ${dotas}">
        <td th:text="${dota.id}"></td>
        <td th:text="${dota.datazasel}"></td>
        <td th:text="${dota.datavisel}"></td>
        <td th:text="${dota.name}"></td>
        <td th:text="${dota.time}"></td>
        <td th:text="${dota.cost}"></td>
        <td th:text="${dota.coaches != null ? dota.coaches.name : ''}"></td>
        <td>
            <a th:href="@{'/dota/' + 'edit/' + ${dota.id}}" class="btn-edit">Редактировать</a>
            <a th:href="@{'/dota/' + 'delete/' + ${dota.id}}" class="btn-delete" th:method="delete">Удалить</a>
        </td>
    </tr>
</table>
<a href="/dota/add" class="btn-new">Создать</a>
<form method="get" action="/dota/search"></br>
    <input type="text" class="search-input" name="name" placeholder="Название">
    <button type="submit" class="search-button">🔍</button>
</form>
</body>
</html>