<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование тренировки</title>
    <link rel="stylesheet" href="/my.css">
</head>
<body>
<h1>Редактирование тренировки</h1>
<form th:method="post" th:action="@{'/antraining/' + 'edit/' + ${antraining.id}}" th:object="${antraining}">
    <label for="kolvo">Кол-во:</label>
    <input type="text" id="kolvo" name="kolvo" th:field="*{kolvo}" required>
    <label for="month">Дата:</label>
    <input type="text" id="month" name="month" th:field="*{month}" required>
    <label>Герой</label>
    <div class="form-group">
        <select th:field="*{hero}" id="hero" class="custom-select">
            <option value="">Выберите Героя</option>
            <option th:each="hero : ${heros}" th:value="${hero.id}" th:text="${hero.name}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('hero')}" th:errors="*{hero}"></span>
    </div>
    <label>Тренер</label>
    <div class="form-group">
        <select th:field="*{coaches}" id="coaches" class="custom-select">
            <option value="">Выберите тренера</option>
            <option th:each="coaches : ${coachess}" th:value="${coaches.id}" th:text="${coaches.surname + ' ' + coaches.name + ' ' + coaches.second_name}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('coaches')}" th:errors="*{coaches}"></span>
    </div>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="/antraining" class="btn-back">Отмена</a>
</body>
</html>