<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список бань</title>
    <link rel="stylesheet" href="/dop.css">
</head>
<body>

<h1>Список бань</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Номер</th>
        <th>Вид бани</th>
        <th>Цена бани</th>
        <th>Кол-во этажей</th>
        <th>Действие</th>
    </tr>
    <tr th:each=" coaches : ${coachess}">
        <td th:text="${coaches.id}"></td>
        <td th:text="${coaches.email}"></td>
        <td th:text="${coaches.age}"></td>
        <td th:text="${coaches.surname}"></td>
        <td th:text="${coaches.name}"></td>
        <td>
            <a th:href="@{'/coaches/' + 'edit/' + ${coaches.id}}" class="btn-edit">Редактировать</a>
            <a th:href="@{'/coaches/' + 'delete/' + ${coaches.id}}" class="btn-delete" th:method="delete">Удалить</a>
        </td>
    </tr>
</table>
<a href="/coaches/add" class="btn-new">Создать</a>
<form method="get" action="/coaches/search"></br>
    <input type="text" class="search-input" name="name" placeholder="Имя">
    <button type="submit" class="search-button">🔍</button>
</form>
</body>
</html>