<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование заказа</title>
    <link rel="stylesheet" href="/my.css">
</head>
<body>
<h1>Редактирование заказа</h1>
<form th:method="post" th:action="@{'/zakaz/' + 'edit/' + ${zakaz.id}}" th:object="${zakaz}">
    <label for="datazasel">Даза заселения:</label>
    <input type="text" id="datazasel" name="datazasel" th:field="*{datazasel}" required>
    <label for="datavisel">Даза выселения:</label>
    <input type="text" id="datavisel" name="datavisel" th:field="*{datavisel}" required>
    <label for="email">Логин:</label>
    <input type="text" id="email" name="email" th:field="*{name}" required>
    <label for="age">Способ оплаты:</label>
    <input type="text" id="age" name="age" th:field="*{time}" required>
    <label for="password">Итоговая цена:</label>
    <input type="text" id="password" name="password" th:field="*{cost}" required>
    <label>Баня</label>
    <div class="form-group">
        <select th:field="*{banya}" id="user" class="custom-select">
            <option value="">Выберите баню</option>
            <option th:each="banya : ${banyas}" th:value="${banya.id}" th:text="${banya.name}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('banya')}" th:errors="*{banya}"></span>
    </div>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="/zakaz" class="btn-back">Отмена</a>
</body>
</html>