<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link rel="stylesheet" href="/dop.css">
</head>
<body>

<h1>Список заказов</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Оказывающий услугу</th>
        <th>Действие</th>
    </tr>
    <tr th:each=" lesson : ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.name}"></td>
        <td th:text="${lesson.category != null ? lesson.category.name : ''}"></td>
        <td th:text="${lesson.coaches != null ? lesson.coaches.email : ''}"></td>
        <td>
            <a th:href="@{'/lesson/' + 'edit/' + ${lesson.id}}" class="btn-edit">Редактировать</a>
            <a th:href="@{'/lesson/' + 'delete/' + ${lesson.id}}" class="btn-delete" th:method="delete">Удалить</a>
        </td>
    </tr>

</table>
<a href="/lesson/add" class="btn-new">Создать</a>
<form method="get" action="/lesson/search"></br>
    <input type="text" class="search-input" name="name" placeholder="название">
    <button type="submit" class="search-button">🔍</button>
</form>
</body>
</html>