<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Создание нового героя</title>
  <link rel="stylesheet" href="/my.css">
</head>
<body>
<h1>Создание нового героя</h1>
<form action="/hero/add" th:object="${rait}" method="post">
  <label>Винрейт:</label>
  <select name="id" id="id">
    <div th:each="element : ${rait}">
      <option th:text="${element.id}"></option>
    </div>
  </select>
  <label for="name">Название:</label>
  <input type="text" id="name" name="name">
  <label for="attrib">Аттрибут:</label>
  <input type="text" id="attrib" name="attrib">
  <input type="submit" value="Создать" class="btn-save">
</form>
<a href="/hero" class="btn-back">Отмена</a>
</body>
</html>