<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список героев</title>
<link rel="stylesheet" href="/dop.css">
</head>
<body>
<h1>Список героев</h1>
<table>
    <tr>
        <th>ID</th>
        <th>ID Винрейта</th>
        <th>Название</th>
        <th>Аттрибут</th>
        <th>Действие</th>
    </tr>
    <tr th:each=" hero : ${heros}">
        <td th:text="${hero.id}"></td>
        <td th:text="${hero.id}"></td>
        <td th:text="${hero.name}"></td>
        <td th:text="${hero.attrib}"></td>
        <td>
            <a th:href="@{'/hero/' + 'edit/' + ${hero.id}}" class="btn-edit">Редактировать</a>
            <a th:href="@{'/hero/' + 'delete/' + ${hero.id}}" class="btn-delete" th:method="delete">Удалить</a>
        </td>
    </tr>
</table>
<a href="/hero/add" class="btn-new">Создать</a>
<form method="get" action="/hero/search"></br>
    <input type="text" class="search-input" name="name" placeholder="Имя героя">
    <button type="submit" class="search-button">🔍</button>
</form>
</body>
</html>