<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список винрейта на героев</title>
  <link rel="stylesheet" href="/dop.css">
</head>
<body>

<h1>Список винрейта на героя</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Код</th>
    <th>Описание</th>
    <th>Действие</th>
  </tr>
  <tr th:each=" rait : ${rait}">
    <td th:text="${rait.id}"></td>
    <td th:text="${rait.name}"></td>
    <td th:text="${rait.code}"></td>
    <td th:text="${rait.description}"></td>
    <td>
      <a th:href="@{'/rait/' + 'edit/' + ${rait.id}}" class="btn-edit">Редактировать</a>
      <a th:href="@{'/rait/' + 'delete/' + ${rait.id}}" class="btn-delete" th:method="delete">Удалить</a>
    </td>
  </tr>
</table>
<a href="/rait/add" class="btn-new">Создать</a>
<form method="get" action="/rait/search"></br>
  <input type="text" class="search-input" name="code" placeholder="Код винрейта">
  <button type="submit" class="search-button">🔍</button>
</form>
</body>
</html>