<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование винрейта</title>
    <link rel="stylesheet" href="/my.css">
</head>
<body>
<h1>Редактирование винрейта</h1>
<form th:method="post" th:action="@{'/rait/' + 'edit/' + ${rait.id}}" th:object="${rait}">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <label for="code">Код:</label>
    <input type="text" id="code" name="code" th:field="*{code}" required>
    <label for="description">Описание:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="/rait" class="btn-back">Отмена</a>
</body>
</html>