<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание записи</title>
    <link rel="stylesheet" href="/my.css">
</head>
<body>
<h1>Создание записи</h1>
<form th:action="${'/eventmark/add'}" method="post">
    <h2 style="text-align: center;">Добавление услугу</h2>
    <select name="user">
        <div th:each="element : ${users}">
            <option th:text="${element.email}"></option>
        </div>
    </select>
    <select  name="lesson">
        <div th:each="element : ${lessons}">
            <option th:text="${element.name}"></option>
        </div>
    </select>
    <br>
    <div style="text-align: center;">
        <button type="submit">Добавить</button>
    </div>
</form>
<a href="/eventmark" class="btn-back">Отмена</a>
</body>
</html>